---
import { SITE } from "@consts";

interface Props {
  section?: 'main' | 'footer';
}

const { section = 'main' } = Astro.props;
---

<div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="py-8">
    {section === 'main' && (
      <div class="h-[50px] mb-8" />
    )}
    <slot />
  </div>
</div>
