---
import Link from "@components/Link.astro";
import { SITE } from "@consts";
import { Image } from 'astro:assets';
import headerImage from '/public/tg-blognot.avif';
---

<header>
  <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="py-8">
      <a href="/">
        <Image 
          src={headerImage} 
          alt="Телеграм-канал БлоГнот"
          class="w-full h-auto rounded-lg"
          quality={80}
        />
      </a>
      <div class="flex flex-wrap gap-y-2 justify-between"></div>
    </div>
  </div>
</header>
